<section>
    <div class="container">
        <div class="card mt-4">
            <div class="card-body text-center">
                <h5>In the distant galaxy of Tara B, there exists a planet of Lengaburu.
                    After the recent war with neighbouring
                    planet Falicornia, King Shan has exiled the Queen of Falicornia
                    for 15 years. Queen Al Falcone is now in hiding. </h5>
                <h4 class="text-info">
                    But if King Shan can find
                    her before the years are up, she will be exiled for another 15
                    years!
                </h4>
                <h6>
                    King Shan has received intelligence that Al Falcone is in hiding in one of these 6 planets -
                    <span class="text-info font-italic">DonLon, Enchai, Jebing, Sapir, Lerbin & Pingasor</span>
                </h6>
                <h6> However he has limited resources at his disposal & can send his army to only 4 of these planets.
                </h6>

                <h5 class="text-info">Let us help King Shan find Al Falcone.</h5>
            </div>
        </div>
        <div class="text-center mt-2">
            <button class="btn btn-outline-info" (click)="findFalcone()">Find Falcone</button>
        </div>
    </div>
</section>