button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn-with-icon-only {
  display: inline-flex !important;

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 1.1rem;
    display: flex;
    padding: 0.2rem 0 0.2rem 0;
  }
}

.btn-with-icon-right {
  display: inline-flex !important;
  padding-bottom: 0.275rem !important;

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 1.1rem;
    display: flex;
    padding: 0.2rem 0 0.2rem 0.4rem;
  }
}

.btn-with-icon-left {
  display: inline-flex !important;
  padding-bottom: 0.275rem !important;

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 1.1rem;
    display: flex;
    padding: 0.2rem 0.4rem 0.2rem 0;
  }
}

