
.spinner-border {
    width: 10rem;
    height: 10rem;
    margin-top: 12%;
}
.display-info {
    margin-top: 1.5rem;
    padding: 0.5rem;
    background-color: $white;
    border: 1px solid $gray-100;
    border-radius: 0.5rem;
}