<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-sticky">
  <a class="navbar-brand" routerLink="/home">FindingFalcone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#collapsibleNavbar" [attr.aria-expanded]="!isNavbarCollapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" [ngbCollapse]="isNavbarCollapsed">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item" data-toggle="tab">
              <a class="nav-link" routerLink="/find">Find Falcone</a>
          </li>
      </ul>
  </div>
</nav>
<section class="section-content">
    <router-outlet></router-outlet>

</section>
<footer class="action-bar">
    <div class="text-right">&copy;RamyaShivu</div>
    <div><a href="https://www.linkedin.com/in/ramya-h-s/" target="_blank"><i class="fab fa-linkedin-in"></i></a></div>
</footer>
